<section class="my-3">

<div class="container">
  <div class="row g-0">
    <div class="col-12 col-md-7">
      <owl-carousel-o [options]="mainSlider">
    <ng-template carouselSlide><img src="./assets/images/slider-image-1.jpeg" height="600px" alt=""></ng-template>
    <ng-template carouselSlide><img src="./assets/images/slider-image-2.jpeg" height="600px" alt=""></ng-template>
    <ng-template carouselSlide><img src="./assets/images/slider-image-3.jpeg" height="600px" alt=""></ng-template>

  </owl-carousel-o>
    </div>
     <div class="col-12 col-md-3">
      <img src="./assets/images/grocery-banner.png" class="w-100" height="300px" alt="">
      <img src="./assets/images/grocery-banner-2.jpeg" class="w-100" height="300px" alt="">
    </div>
  </div>
</div>

</section>

<section class="my-3">
   <owl-carousel-o [options]="categoriesSlider">

    @for( category of categoriesData ; track category._id){
       <ng-template carouselSlide >
        <img [src]="category.image" class="w-100 " height="400px"  [alt]="category.name">
      </ng-template>
    }
  </owl-carousel-o>
</section>


<section class="products my-3">

<div class="container-fluid">
  <div class="row">

    @for( product of productsData ; track product._id){
         <div class="col-12 col-md-6 col-lg-3 mb-4 p-3">

      <div class="product p-3 rounded-2">
        <div class=" product-img">
          <img [src]="product.imageCover" class="w-100" [alt]="product.title">
        </div>
        <div class="product-caption">
          <h2 class="fs-4 my-3 text-main">{{product.category.name}}</h2>
          <h1 class="fs-5 fw-bolder mb-5">{{product.title.split(' ').splice(0,2).join(' ') }}</h1>
          <div class="d-flex justify-content-between align-items-center">
            <span class="fs-4 fw-bold">{{product.price}} EGP</span>

            <div class="d-flex gap-1">
                 @for(star of [1,2,3,4,5].slice(0 , product.ratingsAverage) ; track $index){

               <span class="fs-4 fw-bold mb-3"><i class="fa-solid fa-star rating-color"></i></span>
          }
           @if(product.ratingsAverage%1!=0){
            <span  class="fs-4 fw-bold mb-3">                        <i class="fa-solid fa-star-half-stroke rating-color "></i></span>
                  }
          <span class="fs-4 fw-bold mb-3 ">{{product.ratingsAverage}}</span>
            </div>
          </div>
        </div>
      <button class="btn-main w-75 d-block mx-auto  rounded rounded-3 fs-4 fw-bold my-3">+ Add</button>
      </div>

    </div>

    }

  </div>
</div>
</section>
